@page "/Transactions"
@attribute [Authorize(Policy = "AdminOnly")]

<div id="printarea">
    <div class="row">
        <div class="col-3">
            <div class="input-group mb-3">
                <span class="input-group-text">Cashier</span>
                <input type="text" class="form-control" placeholder="Name" @bind-value="CashierName" />
            </div>
        </div>
        <div class="col-3">
            <div class="input-group mb-3">
                <span class="input-group-text">From</span>
                <input type="date" class="form-control" @bind-value="BegingDate" />
            </div>
        </div>
        <div class="col-3">
            <div class="input-group mb-3">
                <span class="input-group-text">To</span>
                <input type="date" class="form-control" @bind-value="EndDate" />
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <div class="col-6">
                    <button type="button" class="btn btn-primary form-control"
                            @onclick="(() => LoadTransactions(CashierName, BegingDate, EndDate))">
                        Search
                    </button>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-primary form-control"
                            @onclick="PrintReport">
                        Print
                    </button>
                </div>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Date Time</th>
                <th>Cashier</th>
                <th>Product</th>
                <th>Qty Before</th>
                <th>Qty Sold</th>
                <th>Qty After</th>
                <th>Price</th>
                <th>Amount</th>
            </tr>
        </thead>
        @if (Transactions is not null)
        {
            <tbody>
                @foreach (var item in Transactions)
                {
                    <tr>
                        <td>@item.TimeStamp.ToString("g")</td>
                        <td>@item.CashierName</td>
                        <td>@GetProductName(item.ProductId)</td>
                        <td>@item.QtyBefore</td>
                        <td>@item.QtySold</td>
                        <td>@(item.QtyBefore - item.QtySold)</td>
                        <td>$@GetProductPrice(item.ProductId)</td>
                        <td>$@item.Price</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="7" class="text-end pe-5">Total Amount:</th>
                    <th>$@(Transactions.Sum(t => t.Price))</th>
                </tr>
            </tfoot>
        }
    </table>
</div>



